@import 'variables';


.header{
    background: $main-color;
    div{
        justify-content: space-between;
        align-items: center;
        
    }
    .logo{
        width: 80px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .menu {
        li{
            font-size: 20px;
            line-height: 30px;
            padding-right: 32px;
            padding-left: 32px;
            &:last-child{
                padding-right: 0;
            }
        }
        
        a{
            display: block;
            color:#ffffff;
            text-align: center;
            &:hover{
                opacity: 0.8;
            }
        }

    }
}
@media (max-width:992px){
    .container{
        max-width: 900px;
    }
}
@media (max-width:767px){
    .container{
        max-width: 600px;
    }
    div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header{
        .menu{
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin-top: 15px;
                li{
                    width: 50%;
                    border: 1px solid white;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-right: 0;
                    padding-left: 0;
                }
        }
    }
}
