main{
    h2{
        font-size: 48px;
        line-height: 72px;
        font-weight: bold; 
        text-align: center;
        color: $sub-color; 
        padding-top: 80px;
        margin-bottom: 48px;
    }
}
.section-banner{
    background: url(../images/home-header.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: right;

    p{
        font-size: 36px;
        line-height: 54px;
        color: $sub-color;
        padding-top: 296px
    }
    h1{
        font-size: 64px;
        line-height: 96px;
        color:$sub-color;
        font-weight: bold;
        margin-bottom: 8px;
    }
    a{
        color: white;
        background: #AA0601;
        padding: 6px 12px;
    }
}
.section-service{
    background: $pink;
    ul{
        justify-content: space-between;
        text-align: center;
        padding-bottom: 104px;
        li{
            max-width: 25%;
            padding-right: 24px;
            padding-left: 24px;
            &:last-child{
                padding-right: 0;
            }
            img{
                width: 84px;
                margin-top: 32px;
                margin-bottom: 24px;
            }
            h3{
                color:$sub-color ;
                font-size: 24px;
                line-height: 36px;
                font-weight: bold;
                margin-bottom: 8px;
            }
            p{
                text-align: left;
            }
        }
    }
}
.section-classic{
    ul{
        padding-bottom: 80px;
        li{
            padding-right: 24px;
            &:last-child{
                padding-right: 0;
            }
            a:hover{
                opacity: 1;
                p{
                    background: $main-color;
                    color: white;
                    
                }
                
            }
            img{
                margin-bottom: 8px;
            }
            p{
                font-size: 48px;
                line-height: 72px;
                font-family:'Roboto', sans-serif;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                color: $main-color;  
            }
        }
    }
}
.section-co_branding{
    background:url(../images/index-bg.png);
    background-size: cover;
    background-position: center;
    h2{
        color: white;
    }
    ul{
        padding-bottom: 80px;
        li{
            width: 50%;
            p{
                font-size: 48px;
                line-height: 72px;
                font-family:'Roboto', sans-serif;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                color: $main-color;
            }
        }
    }
}
.section-recommend{
    ul{
        padding-bottom: 80px;
        .pr-24{
            padding-right: 24px;
        }
        li{ 
            box-shadow:0px 2px 6px #00000029;
            .recommend-card{
                flex-direction: column;
                flex-wrap: wrap;
                height: 205px;
                padding: 15px;
                .card-title{
                    margin-bottom: 8px;
                }
                span{
                    margin-top: auto;
                    font-size: 14px;
                    line-height: 21px;
                    color: #707070;
                }
            }
        }
    }
}
.section-contact{
    background: $pink;
    text-align: center;
    padding-bottom: 80px;
    p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
    }
    .form-container{
        max-width: 600px;
        margin: 0 auto;
        text-align: left;

        .form-group{
            margin-bottom: 16px;
            label{
                display: block;
                margin-bottom: 8px;
            }
            input{
                width: 100%;
                padding: 6px 12px;
                font-size: 16px;
                line-height: 24px;
                background-color: none;
            }
            input[type="textarea"]{
                    height: 130px;

                }
        }
        .check{
            margin-bottom:48px;
            input[type="checkbox"]{
                margin-right: 8px;
                
            }
        }
        button{
            display: block;
            width: 416px;
            height: 56px;
            margin: 0 auto;
            background: $main-color;
            color: white;
            border: none;
            &:hover{
                background: $sub-color;
                cursor: pointer;
            }
        }
    }
}
@media (max-width:992px){
    .section-banner{
        padding-right: 37px;
    }
    .section-service{
        ul{
            flex-wrap: wrap;
            li{
                max-width: 50%;
            }
        }
    }
    .section-classic{
        ul{
            flex-direction: column;
            align-items: center;
            li{
                padding-right: 0;
                img{
                    max-width: 100%;
                }
                p{
                    margin-bottom: 24px;

                }
            }
        }
    }
    .section-co_branding{
        ul{
            flex-direction: column;
            align-items: center;
            li{
                width: 100%;
                margin-bottom: 24px;
                &:last-child{
                    margin-bottom: 0;
                }
                p{
                    background: white;
                    padding: 8px 0;
                }
                
            }
        }
    }
    .section-recommend{
        ul{
            flex-wrap: wrap;
            .pr-24{
                max-width: 50%;    
                padding:24px;                    
            }
        }
    }
}

@media (max-width:767px){
    main{
        h2{
            font-size: 24px;
            line-height: 36px;
        }
    }
    .section-banner{
        background: url(../images/home-header-sm.png);
        background-size: cover;
        background-position: center;
        height: 400px;
        p{
            font-size: 16px;
            line-height: 24px;
            padding-top: 144px;
        }
        h1{
            font-size: 24px;
            line-height: 36px;
        }
    }
    .section-service{
        ul{
            display: block;
            li{
                max-width: 100%;
            }
        }
    }
    .section-classic{
        li{
            max-width: 100%;
        }
    }
    .section-recommend{
        ul{
            .pr-24{
                max-width: 100%;
                .recommend-card{
                    align-items: flex-start;                   
                }
            }
        }
    }
    .section-contact{
        p{
            font-size: 16px;
            line-height: 24px;
        }
        button{
            max-width: 100%;
        }
        .check{
            label{
                display: flex;
            }
        }
    }
}